<!-- src/app/app.component.html -->
<nav class="navbar">
  <a routerLink="/" class="navbar-brand">
    <span class="brand-icon">🎓</span>
    <span>Eventus</span>
  </a>

  <div class="navbar-links">
    <a routerLink="/events" routerLinkActive="active">Eventos</a>

    @if (authService.isLoggedIn()) {
      <a routerLink="/dashboard" routerLinkActive="active">Mi Panel</a>
      <a routerLink="/profile" routerLinkActive="active">Mi Perfil</a>
      @if (authService.isAdmin()) {
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      }

    
      <div class="nav-user">
        <div class="user-info">
          <span class="user-welcome">Bienvenido,</span>
          <span class="user-name">{{ authService.currentUser()?.firstName }}</span>
          <span class="user-type-badge">{{ authService.userTypeLabel() }}</span>
        </div>
        <button class="btn-logout" (click)="authService.logout()">Salir</button>
      </div>
    } @else {
      <a routerLink="/login" routerLinkActive="active">Ingresar</a>
      <a routerLink="/register" class="btn-nav-cta">Registrarse</a>
    }
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>© 2025 Eventus — Universidad del Cauca · Desarrollo de Aplicaciones Web</p>
</footer>
